body {
    margin: 0 0;
    padding: 0 0;
    padding-top: 8.8vw;
}

#background {
    background-image: url('/images/AboutBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 0;
    margin-top: 0.8vw;
    padding-top: 4vw;
    padding-bottom: 22.6vw;
}

#aboutcontainer {
    width: 26vw;
    margin: 0 0;
    margin-left: 69vw;
    background: rgba(40, 40, 40, 0.4);
    backdrop-filter: blur(12px);
    border: 2px solid white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    border-radius: 15px;
    padding: 0.5vw 0;
    animation: abouttop 1s ease-in;
}

@keyframes abouttop {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }    
}

#aboutheading {
    font-family: 'Libre';
    font-size: 2.3vw;
    letter-spacing: 0.05em;
    width: fit-content;
    padding-bottom: 1vw;
    margin-left: 8.6vw;
    margin-bottom: 1vw;
    color: white;
    border: 0 solid #cea51e;
    border-bottom-width: 3px;
}

#abouttext {
    text-align: center;
    margin-top: 0;
    color: white;
    font-size: 1.3vw;
    font-family: 'Playfair';
    font-weight: 500;
}

/* ====== MOBILE LAYOUT ====== */

@media (max-width: 430px) {
    body {
        padding-top: 14vw;
    }

    #background {
        padding-bottom: 30vw;
        background-size: cover;
        background-position: -40vw center;
    }

    #aboutcontainer {
        margin-left: 34vw;
        margin-top: 2vw;
        width: 56vw;
        padding: 0.5vw 3vw;
    }

    #aboutheading {
        font-size: 5vw;
        margin-top: 5vw;
        padding-bottom: 3vw;
        margin-bottom: 3vw;
        margin-left: 18vw;
    }

    #abouttext {
        font-size: 3.5vw;
    }
}