body {
    margin: 0 0;
    padding: 0 0;
    padding-top: 8.8vw;
}

#background {
    background-image: url('/images/AboutBG.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 0;
    margin-top: 0.8vw;
    padding-bottom: 22.6vw;
}

#aboutcontainer {
    margin: 0 0;
    margin-left: 65vw;
    padding-top: 5vw;
    justify-items: center;
}

#aboutheading {
    font-family: 'Cormorant';
    font-size: 2.3vw;
    letter-spacing: 0.05em;
    width: fit-content;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    border: 0 solid #cea51e;
    border-bottom-width: 3px;
}

#abouttext {
    text-align: center;
    margin-top: 0;
    font-size: 1.4vw;
    font-family: 'Playfair';
    font-weight: 500;
}

@media (max-width: 430px) {
    
    body {
        padding-top: 14vw;
    }

    #background {
        padding-bottom: 30vw;
        background-image: url('/images/AboutBG2.png');
        background-size: cover;
    }

    #aboutcontainer {
        margin-left: 43vw;
        width: 53vw;
    }

    #aboutheading {
        font-size: 5vw;
        margin-top: 5vw;
    }

    #abouttext {
        font-size: 3.5vw;
    }

}