body {
    margin: 0 0;
    padding: 0 0;
    padding-top: 12vw;
}

#productinfo {
    display: flex;
    flex-direction: row;
}

#productimages {
    background-size: cover;
    width: 33vw;
    height: 42.36vw;
    margin-left: 16vw;
    margin-bottom: 3vw;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#leftbutton {
    margin-left: 0.5vw;
    background: none;
    border: none;
    position: relative;
}

#leftbutton:hover {
    cursor: pointer;
}

#leftbutton:hover #left-hover-image {
    opacity: 1;
}

#left-image {
    width: 3vw;
    position: absolute;
}

#left-hover-image {
    width: 3vw;
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

#rightbutton {
    margin-left: 27.3vw;
    background: none;
    border: none;
    position: relative;
}

#rightbutton:hover {
    cursor: pointer;
}

#rightbutton:hover #right-hover-image {
    opacity: 1;
}

#right-image {
    width: 3vw;
    position: absolute;
}


#right-hover-image {
    width: 3vw;
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

#productdetails {
    margin-left: 14vw;
}

#brandtext {
    font-family: 'Cormorant';
    font-size: 1.5vw;
    margin-bottom: 0;
    color: rgb(181, 141, 21);
    font-weight: 600;
}

#product-title {
    font-family: 'Montserrat';
    font-size: 1.6vw;
    font-weight: 500;
    margin: 0;
}

#product-price {
    font-family: sans-serif;
    font-size: 1.2vw;
    margin: 1vw 0;
    margin-bottom: 0;
    color: rgb(60, 60, 60);
}

#sizes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sizebutton {
    margin-right: 2.3vw;
    padding-left: 0;
}

#small,
#medium,
#large,
#extra-large {
    background: none;
    border: none;
    position: relative;
}

#small:hover,
#medium:hover,
#large:hover,
#extra-large:hover {
    cursor: pointer;
}

#small-image,
#medium-image,
#large-image,
#extralarge-image {
    width: 2.5vw;
    position: absolute;
}

#small-hover,
#medium-hover,
#large-hover,
#extralarge-hover {
    width: 2.5vw;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

#sizeguidetext {
    margin: 0 0;
    padding-top: 2.5vw;
    margin-left: 0.5vw;
    font-family: sans-serif;
    font-size: 1vw;
}

#sizeguidetext a {
    color: rgb(60, 60, 60);
    text-decoration: underline;
}

#sizeguidetext a:hover {
    cursor: pointer;
}

#quantity {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 2vw;
    width: 8vw;
}

#minusbutton,
#plusbutton {
    padding: 0 0;
    background: none;
    border: none;
}

#minusbutton {
    margin-left: 1vw;
    margin-bottom: 0.4vw;
}

#minusbutton:hover {
    cursor: pointer;
}

#minus-image {
    width: 1vw;
}

#cart-quantity {
    margin: 0.5vw 0;
    margin-left: 1.7vw;
    width: 0.8vw;
    font-family: 'Montserrat';
    font-size: 1.5vw;
}

#plusbutton {
    margin-left: 1.6vw;
    margin-top: 0.2vw;
    position: static;
}

#plusbutton:hover {
    cursor: pointer;
}

#plus-image {
    width: 1.1vw;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#blackbutton,
#whitebutton {
    margin-left: 1.5vw;
    margin-top: 2.15vw;
    background-color: white;
    color:  rgb(60, 60, 60);
    font-family: sans-serif;
    font-size: 1.2vw;
    border: 1px solid rgb(60, 60, 60);
    padding: 0 1.5vw;
    height: 2.7vw;
    transition: all 0.2s ease-in;
}

#whitebutton {
    margin-left: 0.2vw;
}

#blackbutton:hover,
#whitebutton:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(60, 60, 60);
    border-color: white;
}

#addtocart {
    background-color: black;
    color: white;
    border: none;
    margin: 1.5vw 0;
    margin-bottom: 0;
    padding: 0.8vw 7.38vw;
    font-family: 'Montserrat';
    font-size: 1.3vw;
    position: relative;
    overflow: hidden;
}

#addtocart::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-20deg);
    transition: none;
}

#addtocart:hover::before {
    animation: shine 1s ease forwards;
}

@keyframes shine {
    0% {
        left: -75%;
    }
    100% {
        left: 125%;
    }
}

#addtocart:hover {
    cursor: pointer;
}

#carterror {
    margin-top: 0.6vw;
    color: rgb(255, 33, 33);
    font-size: 1vw;
    font-family: sans-serif;
}

#product-description {
    width: 30vw;
    font-family: sans-serif;
    font-size: 1.1vw;
}

.dropdown-main {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    padding: 1vw 0;
    letter-spacing: 0.01vw;
    width: 30vw;
    border: 0 solid rgba(60, 60, 60, 0.5);
    border-bottom-width: 1px;
    margin-bottom: 0.3vw;

    background-image: linear-gradient(to right, black, black);
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: background-size 0.3s ease-in-out;
}

.dropdown-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-2, 
.main-3 {
    padding: 0.9vw 0;
}
.dropdown-main:hover {
    cursor: pointer;
}

.dropdown-main:hover:not(.open) {
    background-size: 100% 1px;
}

.dropdown-main.open {
    transition: none;
}

.dropdown-main.no-hover:hover:not(.open) {
    background-size: 0% 1px;
}

.dropdown-main.delay-background {
  transition-delay: 0.5s;
}

.dropdown-arrow {
    transform-origin: 50% 60%;
    transition: transform 0.3s ease-in-out;
}

.dropdown-list {
    all: unset;
    margin-top: 0;
    font-size: 1vw;
    line-height: 1.7vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

.dropdown-list.open {
  max-height: 50vw;
  opacity: 1;
}

/* ====== MOBILE LAYOUT ====== */

@media (max-width: 430px) {
    body {
        padding-top: 18vw;
    }

    #productinfo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #productimages {
        width: 92vw;
        height: 118.09vw;
        margin-left: 4vw;
    }

    #left-image,
    #left-hover-image,
    #right-image,
    #right-hover-image {
        width: 8vw;
    }

    #rightbutton {
        margin-left: 77.4vw;
    }

    #productdetails {
        width: 100vw;
        margin-left: 6vw;
    }

    #brandtext {
        font-size: 6vw;
    }

    #product-title {
        font-size: 5vw;
    }

    #product-price {
        font-size: 4.5vw;
    }

    #sizes {
        width: 50vw;
        margin-top: 4vw;
    }

    #small-image,
    #medium-image,
    #large-image,
    #extralarge-image,
    #small-hover,
    #medium-hover,
    #large-hover,
    #extralarge-hover {
        width: 8vw;
    }

    .sizebutton {
    margin-right: 7.5vw;
    }

    #sizeguidetext {
        margin-top: 7.5vw;
        margin-bottom: 1.6vw;
        font-size: 3.5vw;
    }

    #wrapper {
        width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #quantity {
        width: 24vw;
        height: 8vw;
        align-content: center;
        border-radius: 4.5vw;
    }

    #minusbutton {
        margin-left: 1.8vw;
    }

    #minus-image {
        width: 2.6vw;
        margin-bottom: 0.7vw;
    }

    #cart-quantity {
        margin: 0 6vw;
        margin-top: 0.5vw;
        margin-left: 6.4vw;
        font-size: 5vw;
    }

    #plus-image {
        width: 2.7vw;
        margin-top: 0;
    }

    #blackbutton,
    #whitebutton {
        margin-left: 4vw;
        margin-right: 1vw;
        margin-top: 2.1vw;
        padding: 1.6vw 4.6vw;
        font-size: 4vw;
        height: unset;
    }

    #whitebutton {
        margin-left: 0;
    }

    #addtocart {
        margin-top: 4vw;
        padding: 2vw 23.1vw;
        font-size: 4vw;
    }

    #carterror {
        font-size: 3.4vw;
        margin: 1.5vw 0;
    }

    #product-description {
        font-size: 4vw;
        line-height: 5vw;
        width: 80vw;
    }

    .dropdown-main {
        width: 70vw;
        padding: 1.5vw 0;
        margin-bottom: 2vw;
    }

    .dropdown-sub {
        font-size: 4vw;
    }

    .dropdown-list {
        font-size: 3.8vw;
        line-height: 6.5vw;
    }

    .dropdown-list.open {
    max-height: 160vw;
    }
}